<div ng-controller="ShowTicketController">
	<div class="row">
	  <div class="col-sm-6">
	  	<h1>
		  	Ticket: <code><b ng-bind="json_ticket.ticket['subject']"></b></code>
		  	<button ng-if="(json_ticket.ticket['support_id'] == null) && currentUserRole == 2" ng-click="takeTicket(json_ticket.ticket['id'])" class="
		  	btn btn-info btn-sm">take</button>

		  	<button ng-if="(json_ticket.ticket['support_id'] == currentUserId) && json_ticket.ticket['status'] != 2" ng-click="closeTicket(json_ticket.ticket['id'])" class="btn btn-info btn-sm">close</button>
	  	</h1>
		<p>Description: <code><b ng-bind="json_ticket.ticket['description']"></b></code></p>
		<p>Created At: <code><b ng-bind="json_ticket.ticket['created_at']"></b></code></p>
		<p>Status: <code><b ng-bind="json_ticket.status"></b></code></p>
		<p>Customer: <code><b ng-bind="json_ticket.customer['name']"></b></code></p>
		<p>Support: <code><b ng-bind="json_ticket.support['name']"></b></code></p>

		<p>
        	<ul class="img_attachment_holder">
        		<li ng-repeat="img in json_ticket['ticket']['attachments']">
        		<a href="{{appUrl}}{{img['original']}}" target="_blank">
        			<img ng-src="{{img['thumb']}}" class="img_attachment" />
    			</a>
    			</li>
        	</ul>
        </p>
					
		<br>
		<hr>
		<br>
		<div>			
			<form name='commentForm' ng-submit="sendComment()">
				<input type="hidden" ng-model="comment.ticket_id" />
		        <label class="col-md-12" style="padding-right: 0px; padding-left: 0px;">Post Comment:
		            <textarea class="form-control" name="message" ng-model="comment.message" required></textarea>
		        </label>
		        <div class="upload_image" class="button" ngf-select ng-model="comment.comment_attachments" ngf-multiple="true" ngf-before-model-change="previewImageNames($files)">Add Attachments:</div>

		        <!-- Generates of selected image file -->
		        <br>
		        <div id="commentAttachmentFileToBeUploaded"></div>
                
		        <button type="submit" style="float: right" class="btn btn-info">Submit</button>
		        <div class="clearfix"></div>
		    </form>
		</div>
	  </div>

	  <div class="col-sm-6">
	    <div class="row" ng-repeat="c in ticket_comments">
	        <div class="col-sm-12">
	            <div class="panel panel-white post">
	                <div class="post-heading">
	                    <div class="pull-left image">
	                        <img src="/assets/profile.png" class="img-circle avatar" alt="user profile image">
	                    </div>
	                    <div class="pull-left meta">
	                        <div class="title h5"> <a href="#"><b ng-bind="c['commenter']"></b></a> made a post.</div>
	                        <h6 class="text-muted time" ng-bind="c['posted_at']"> ago</h6>
	                    </div>
	                </div> 
	                <div class="post-description"> 
	                    <p ng-bind="c['message']"></p>
	                    <p>
	                    	<ul class="img_attachment_holder">
	                    		<li ng-repeat="img in c['attachments']">
	                    		<a href="{{appUrl}}{{img['original']}}" target="_blank">
	                    			<img ng-src="{{img['thumb']}}" class="img_attachment" />
                    			</a>
                    			</li>
	                    	</ul>
	                    </p>
	                </div>
	            </div>
	        </div>        
	    </div>
	  </div>
	</div>
</div>