<div class="alert alert-info" ng-show="info_message.length > 0">
 	<button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Information! </strong>
    Indicates notification from previous action. {{info_message}}
</div>

<div class="alert alert-danger" ng-show="error_message.length > 0">	
	<button type="button" class="close" data-dismiss="alert">x</button>
	<strong>Error! </strong>
	Indicates notification from previous action. {{error_message}}
</div>
	
<h4 class="text-left maroon">Admin's List</h4>
<!-- Admins -->
<div class="table-responsive table-hover">
	<table class="table">
	    <th>Name</th>
	    <th>Email</th>
	    <th>Created At</th>
	    <th>Status</th>
	    <th>Actions</th>
	    <tr ng-repeat="admin in json_users.admins">
	    	<td class="text-left" ng-bind="admin['name']"></td>
	    	<td class="text-left" ng-bind="admin['email']"></td>
	    	<td class="text-left" ng-bind="admin['created_at']"></td>
	    	<td class="text-left" ng-bind="admin['status'] == 1 | iif : 'Activated' : 'Deactivated'"></td>
	    	<td class="text-left">
	    		<a class="btn btn-success btn-sm sm_btn" ui-sref="user_show({ id: admin.id })">edit</a>&nbsp;
	    		<button ng-if="currentUserRole == 3" data-toggle="modal" data-target="#confirmationModal" ng-click="setUserId(admin.id)" class="btn btn-danger btn-sm sm_btn">delete</button>
    		</td>
	    </tr>
	</table>
</div>
<hr>

<h4 class="text-left maroon">Customer's List</h4>
<!-- Customers -->            
<div class="table-responsive table-hover">
	<table class="table">
	    <th>Name</th>
	    <th>Email</th>
	    <th>Created At</th>
	    <th>Status</th>
	    <th>Actions</th>
	    <tr ng-repeat="customer in json_users.customers">
	    	<td class="text-left" ng-bind="customer['name']"></td>
	    	<td class="text-left" ng-bind="customer['email']"></td>
	    	<td class="text-left" ng-bind="customer['created_at']"></td>
	    	<td class="text-left" ng-bind="customer['status'] == 1 | iif : 'Activated' : 'Deactivated'"></td>
	    	<td class="text-left">
	    		<a class="btn btn-success btn-sm sm_btn" ui-sref="user_show({ id: customer.id })">edit</a>&nbsp;
	    		<button ng-if="currentUserRole == 3" data-toggle="modal" data-target="#confirmationModal" ng-click="setUserId(customer.id)" class="btn btn-danger btn-sm sm_btn">delete</button>
	    	</td>
	    </tr>
	</table>
</div>
<hr>

<h4 class="text-left maroon">Support's List</h4>
<!-- Supports -->           
<div class="table-responsive table-hover">
	<table class="table">
	    <th>Name</th>
	    <th>Email</th>
	    <th>Created At</th>
	    <th>Status</th>
	    <th>Actions</th>
	    <tr ng-repeat="support in json_users.supports">
	    	<td class="text-left" ng-bind="support['name']"></td>
	    	<td class="text-left" ng-bind="support['email']"></td>
	    	<td class="text-left" ng-bind="support['created_at']"></td>
	    	<td class="text-left" ng-bind="support['status'] == 1 | iif : 'Activated' : 'Deactivated'"></td>
	    	<td class="text-left">
	    		<a class="btn btn-success btn-sm sm_btn" ui-sref="user_show({ id: support.id })">edit</a>&nbsp;	
	    		<button ng-if="currentUserRole == 3" data-toggle="modal" data-target="#confirmationModal" ng-click="setUserId(support.id)" class="btn btn-danger btn-sm sm_btn">delete</button>
	    	</td>
	    </tr>
	</table>
</div>

<!-- Delete Confirmation Modal -->
<div id="confirmationModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Are you sure ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body text-center">
                <button class="btn btn-info btn-lg" data-dismiss="modal">NO</button>
                <button class="btn btn-danger btn-lg" ng-click="deleteUser(target_user_id)">YES</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->