<div ng-controller="UsersController">
	<div class="alert alert-info" ng-show="info_message.length > 0">
	 	<button type="button" class="close" data-dismiss="alert">x</button>
	    <strong>Information! </strong>
	    Indicates notification from previous action. {{info_message}}
	</div>

	<div class="alert alert-danger" ng-show="error_message.length > 0">		
		<button type="button" class="close" data-dismiss="alert">x</button>
		<strong>Error! </strong>
		Indicates notification from previous action. {{error_message}}
	</div>

	<form class="form-signin" ng-submit="do_update_user()">
		<h2 class="form-signin-heading">Edit User Info</h2>
		<label for="name" class="sr-only">Fullname</label>
		<input type="text" name="name" ng-model="userData.name" class="form-control marg_btm10" placeholder="Full name" required autofocus />

		<label for="name" class="sr-only">Email address</label>
		<input type="email" name="name" ng-model="userData.email" class="form-control marg_btm10" placeholder="Email address" required />		

		<label for="password" class="sr-only">Password</label>
		<input type="password" name="password" ng-model="userData.password" class="form-control" placeholder="Password"/>

		<label for="password_confirmation" class="sr-only">Confirm Password</label>
		<input type="password" name="password_confirmation" ng-model="userData.password_confirmation" class="form-control marg_btm10" placeholder="Re-enter Password"/>
		
        <select class="form-control marg_btm10" name="status" ng-model="userData.status">
          <option value="1" ng-selected="userData.status == 'true'">Activated</option>
          <option value="0" ng-selected="userData.status == 'false'">Deactivated</option>
        </select>

        <select class="form-control marg_btm10" name="role" ng-model="userData.role">
          <option value="1" ng-selected="userData.role == 1">Customer</option>
          <option value="2" ng-selected="userData.role == 2">Support</option>
          <option value="3" ng-selected="userData.role == 3">Admin</option>
        </select>

        <br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
	</form>
</div>