<h1>Closed Ticket PDF Report - <%= @current_user.name.try(:upcase) %></h1>
<p class="datetime">Printed at: <%= @dateTimeNow%></p>
<table class="closed_ticket_table" cellpadding="0" cellspacing="0">
	<th>SUBJECT</th>
	<th>DESCRIPTION</th>
	<th>CUSTOMER</th>
	<th>CREATED AT</th>
	<% @closed_ticket.each do |ticket| %>
		<tr>
			<td><%= ticket.subject %></td>
			<td><%= ticket.description %></td>
			<td><%= ticket.customer.name %></td>
			<td><%= ticket.created_at.to_time.strftime("%a, %e %b %Y %H:%M") %></td>
		</tr>
	<% end %>
</table>