.currentUserName{color: #fff;padding: 7px;}
.navigator_hide{display: none !important;}
.navigator_show{display: flex !important;}
th{background-color: #292b2c !important; color: #fff;}

.maroon{color: maroon; font-weight: bold; font-size: 20px;}
table{font-size: 14px;}
td.ticket-actions div{display: inline-block;}
.no_ticket{
  font-size: 18px;
  color: #5F5F5F;
  font-style: italic;
}

.sm_btn{padding: 0.1rem 0.3rem;}
ul.img_attachment_holder{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.upload_image{
  background-image: url("/assets/upload_image.png");
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: 33%;
  font-weight: bold;
  cursor: pointer;
}

ul.img_attachment_holder li {
    float: left;
    display: inline-block !important;
}

ul.img_attachment_holder li img {        
    text-align: left;
    padding-right: 5px;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 50px;
  padding: 10px 5px;
}
.post .post-heading .avatar {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}