h1{
	margin: 0px;
}
.datetime{font-size: 15px; font-style: italic;}
.closed_ticket_table {width: 100%}
.closed_ticket_table th{
	text-align: left;
	background-color: rgb(41, 43, 44);
	color: #fff;
	padding: 5px 0 5px 4px;	
}
.closed_ticket_table th:last-child{width: 150px;}
.closed_ticket_table td{
	font-size: 13px;
	border-bottom: 1px solid #eee;
	padding: 2px 0 2px 1px;
}