<nav id="header_nav" class="navigator_hide navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/#!/dashboard">Ticketing App |</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/#!/dashboard">Tickets</a></li>
      <li id="goToUsers" class="nav-item" style="display: none;"><a class="nav-link" href="/#!/dashboard/users">Users</a></li>
    </ul>
    <div class="currentUserName"></div>
    <div ng-controller="SignInController">
     <a class="nav-link float-right" href="#" ng-click="do_signout()"> SignOut</a>    
    </div>
  </div>
</nav>