<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Crossover | Ticketing Application">
    <meta name="author" content="">
    <base href="/">
    <link rel="icon" href="favicon.ico">

    <title>Ticketing App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">    
    
  </head>

  <body ng-app="app">
    <%= render partial: 'layouts/nav_header' %> 
    <div class="container">
      <div class="starter-template">	    
        <%= yield %>
      </div>
    </div>
    <script>
      var TOKEN = '<%= session[:access_token] %>';
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  </body>
</html>